*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-image: url("assets/back1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y:hidden;
}

.input-container{
    background-image: url("assets/backinput.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    margin: 40px;
    height: 460px;
}

.notes-container{
    width: 50%;
    margin: 40px;
    height: 300px;
}

.formclass{
    padding: 40px;
}

.table{
    height:300px;
}

.dataTables_wrapper:after{
    height: 10px
}

#myTable_wrapper{
    color: blue;
    background-color: brown;
}

.dataTables_scroll{
    color: brown;
    background-color: brown;
}


table#myTable{
    background-color: blue;
}