*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-image: url("assets/back1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y:hidden;
}

.input-container{
    background-image: url("assets/backinput.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    margin: 40px;
    height: 400px;
}

.notes-container{
    width: 50%;
    margin: 40px;
}

.formclass{
    padding: 40px;
}




.dataTables_scrollHead .table{
    height:0px;
}

.dataTables_scroll{
    background-image: url("assets/adf.jpg");
    filter: brightness(75%);
    background-repeat: no-repeat;
    background-size: cover;
}

.dataTables_wrapper .dataTables_filter{
    margin: 8px;
}


.dataTables_wrapper .dataTables_filter label{
    font-size: 12px;
    font-weight: bold;
}

.dataTables_wrapper .dataTables_filter input{
    background-color: aliceblue;
}

.dataTables_scrollHeadInner th{
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(156, 236, 203);
    margin-left: 1px;
}

.dataTables_scrollBody {
    height: 500px;
    font-weight: bold;
}  
 
.dataTables_scrollBody button{
    background-color: rgb(172, 240, 206);
} 

.dataTables_info{
    text-decoration-color:rgb(24, 104, 24);
}